<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Team One" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>IMP - Menu</title>

	<!--Main css-->
	<link rel="stylesheet" href="../../css/main.css" />
	<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
</head>
<body>
	<div class="container">
		<div class="nav-bar nav-bar-fixed">
	        <div id="pull" class="pull">
	            <div class="bar"></div>
	            <div class="bar"></div>
	            <div class="bar"></div>
	        </div>
	        <ul class="container" id="nav-bar-ul">
	            <li class="active"><a href="../../index.html"><i class="fa fa-home"></i></a></li>
	            <li><a href="../upload_lecture.html">New Lecture</a></li>
	            <li class="active"><a href="../profile.html">Profile</a></li>
	            <li><a href="../courses.html">Courses</a></li>
	            <li><a href="../manage_lectures.html">Lectures</a></li>
	            <li class="right"><a href="../login.html">Logout</a></li>
	        </ul>
	    </div>
	</div>
	<script src="../../js/menu.js"></script>
</body>
</html>
