<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Agne Ødegaard" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>IMP - Menu</title>
	
	<!--Main css-->
	<link rel="stylesheet" href="../../css/main.css" />
</head>
<body>
	<div class="container">
		<div class="nav-bar nav-bar-fixed">
	        <div id="pull" class="pull">
	            <div class="bar"></div> 
	            <div class="bar"></div> 
	            <div class="bar"></div>    
	        </div>
	        <ul class="container" id="nav-bar-ul">
	            <li class="active"><a href="index.html">Getting Started</a></li>
	            <li><a href="grid.html">Grid</a></li>
	            <li><a href="responsive.html">Responsive</a></li>
	            <li><a href="typo.html">Typography</a></li>
	            <li><a href="other.html">Other</a></li>
	            <li><a href="download.php">Download</a></li>
	        </ul>
	    </div>
	</div>
	<script src="../../js/menu.js"></script>
</body>
</html>