* {
	margin: 0px;
	padding: 0px;
	outline: none;
	box-sizing: border-box;
}


body{
	color: @dark;
	font-family: 'open sans', sans-serif;
	font-size: @font-size;
	line-height: @font-line-height;
	/*padding-top: 50px;*/
}

.container{
	width: 100%;
	margin: 0 auto;
	padding: 0px @size * 2;
}
.container-big{
	width: 100%;
	margin: 0 auto;
	padding: 0px @size;
}

.container-fluid{
	width: 100%;
	margin: 0 auto;
}

h4.list-stats{
	margin-left: 20px;
	width: 80%;
	margin-bottom: 10px;
}

ul.list-stats li{
	list-style: none;
	margin-left: 0px;
	width: 100%;
}

ul.list-stats{
	margin-top: 10px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}
.clearfix{
	*zoom: 1;
	&:before, &:after{
		content: " ";
		display: block;
	}
	&:after{
		clear: both;
	}
}


.hand{
	cursor: pointer;
}

a {
	text-decoration: none !important;
	color: @color;
}
a:hover{
	color: lighten(@color, 5%);
}

.profile-image{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 3px solid darken(@light, 10%);
}

.hidden{
	display: none;
}

@media (max-width: 1024px) {
	.container{
		padding: 0px @size * 1;
	}
}

@media (max-width: 768px) {
	.container, .container-big{
		padding: 0px 0px;
	}	
}


@media (max-width: 480px) {
	.dropdown{
		display: block;
		float: right;
		margin-right: 10px !important;
	}
	.menu{
		width: 100%;
		display: none;
		float: left;
	}
	.menu ul{
		background-image: none;
		width: 100%;
		text-align: left;
		margin-top: 10px;
		
		& li{
			display: inherit;
			width: 100%;
			
			
			& a{
				width: 100%;
				display: block;
				margin: 3px 0px;
			}
		}
	}
	.menu-fixed{
		width: 100%;
		position: static;
	}
	
}