* {
	margin: 0px;
	padding: 0px;
	outline: none;
	box-sizing: border-box;
}


body{
	color: @dark;
	font-family: 'open sans', sans-serif;
	font-size: @font-size;
	line-height: @font-line-height;
	padding-top: 80px;
	
}

.container{
	width: 100%;
	margin: 0 auto;
	padding: 0px @size * 2;
}
.container-big{
	width: 100%;
	margin: 0 auto;
	padding: 0px @size;
}

.container-fluid{
	width: 100%;
	margin: 0 auto;
}
#svg-dott, #svg-d{
	fill: #3c6ab3;
	-webkit-animation: dottd 3s linear running;
	-moz-animation: dottd 3s linear running;
	-ms-animation: dottd 3s linear running;
	-o-animation: dottd 3s linear running;
	animation: dottd 3s linear running;
}
@-webkit-keyframes dottd {
	0%{
		fill-opacity: 0;
	}
	85% {
		fill-opacity: 0;
	}
	100% {
		fill-opacity: 1;
	}
}
@-moz-keyframes dottd {
	0%{
		fill-opacity: 0;
	}
	85% {
		fill-opacity: 0;
	}
	100% {
		fill-opacity: 1;
	}
}
@-ms-keyframes dottd {
	0%{
		fill-opacity: 0;
	}
	85% {
		fill-opacity: 0;
	}
	100% {
		fill-opacity: 1;
	}
}
@-o-keyframes dottd {
	0%{
		fill-opacity: 0;
	}
	85% {
		fill-opacity: 0;
	}
	100% {
		fill-opacity: 1;
	}
}
@keyframes dottd {
	0%{
		fill-opacity: 0;
	}
	85% {
		fill-opacity: 0;
	}
	100% {
		fill-opacity: 1;
	}
}
#svg-imp{
	fill: #222222;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	stroke: #222222;
	-webkit-animation: imp 3s linear running;
	-moz-animation: imp 3s linear running;
	-ms-animation: imp 3s linear running;
	-o-animation: imp 3s linear running;
	animation: imp 3s linear running;
}
@-webkit-keyframes imp {
	0% {
		fill-opacity: 0;
		stroke-dashoffset: 1000;
		stroke-opacity: 1;
	}
	85% {
		fill-opacity: 0;
		stroke-opacity: 1;
		stroke-dashoffset: 0;
	}
	100%{
		fill-opacity: 1;
		stroke-opacity: 0;
		stroke-dashoffset: 0;
	}
}
@-moz-keyframes imp {
	0% {
		fill-opacity: 0;
		stroke-dashoffset: 1000;
		stroke-opacity: 1;
	}
	85% {
		fill-opacity: 0;
		stroke-opacity: 1;
		stroke-dashoffset: 0;
	}
	100%{
		fill-opacity: 1;
		stroke-opacity: 0;
		stroke-dashoffset: 0;
	}
}
@-ms-keyframes imp {
	0% {
		fill-opacity: 0;
		stroke-dashoffset: 1000;
		stroke-opacity: 1;
	}
	85% {
		fill-opacity: 0;
		stroke-opacity: 1;
		stroke-dashoffset: 0;
	}
	100%{
		fill-opacity: 1;
		stroke-opacity: 0;
		stroke-dashoffset: 0;
	}
}
@-o-keyframes imp {
	0% {
		fill-opacity: 0;
		stroke-dashoffset: 1000;
		stroke-opacity: 1;
	}
	85% {
		fill-opacity: 0;
		stroke-opacity: 1;
		stroke-dashoffset: 0;
	}
	100%{
		fill-opacity: 1;
		stroke-opacity: 0;
		stroke-dashoffset: 0;
	}
}
@keyframes imp {
	0% {
		fill-opacity: 0;
		stroke-dashoffset: 1000;
		stroke-opacity: 1;
	}
	85% {
		fill-opacity: 0;
		stroke-opacity: 1;
		stroke-dashoffset: 0;
	}
	100%{
		fill-opacity: 1;
		stroke-opacity: 0;
		stroke-dashoffset: 0;
	}
}
.login-fill{
	background-color: darken(@light, 3.5);
	border-radius: 3px;
	border: 1px solid darken(@light, 20%);
	padding: 20px !important;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
	@flip-size: 20px;
	position: relative;
	&:after{
		content: '';
		display: block;
		top: -1px;
		left: 30px;
		height: 0px;
		border-bottom: @flip-size solid rgba(0, 0, 0, 0);
		border-left: @flip-size solid @color;
		border-right: @flip-size solid @color;
		border-top: 50px solid @color;
		position: absolute;
		-moz-box-shadow: -1px 0 rgba(0, 0, 0, @active-shadow), 1px 0 rgba(0, 0, 0, @active-shadow);
		box-shadow: -1px 0 rgba(0, 0, 0, @active-shadow), 1px 0 rgba(0, 0, 0, @active-shadow);
	}
}
h4.list-stats{
	margin-left: 20px;
	width: 80%;
	margin-bottom: 10px;
}

ul.list-stats li{
	list-style: none;
	margin-left: 0px;
	width: 100%;
}

ul.list-stats{
	margin-top: 10px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}
.clearfix{
	*zoom: 1;
	&:before, &:after{
		content: " ";
		display: block;
	}
	&:after{
		clear: both;
	}
}


.hand{
	cursor: pointer;
}

a {
	text-decoration: none !important;
	color: @color;
}
a:hover{
	color: lighten(@color, 5%);
}

.profile-image{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 3px solid darken(@light, 10%);
}

.hidden{
	display: none;
}

@media (max-width: 1024px) {
	.container{
		padding: 0px @size * 1;
	}
}

@media (max-width: 768px) {
	.container, .container-big{
		padding: 0px 0px;
	}	
}


@media (max-width: 480px) {
	.dropdown{
		display: block;
		float: right;
		margin-right: 10px !important;
	}
	.menu{
		width: 100%;
		display: none;
		float: left;
	}
	.menu ul{
		background-image: none;
		width: 100%;
		text-align: left;
		margin-top: 10px;
		
		& li{
			display: inherit;
			width: 100%;
			
			
			& a{
				width: 100%;
				display: block;
				margin: 3px 0px;
			}
		}
	}
	.menu-fixed{
		width: 100%;
		position: static;
	}
	
}