<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Team One" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Admin</title>

	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
</head>
<body>
						
<div class="container">
	<div class="nav-bar nav-bar-fixed">
        <div id="pull" class="pull">
            <div class="bar"></div>
        </div>
        <ul class="container" id="nav-bar-ul">
            <li class="none home"><a href="login.kit"><i class="fa fa-home"></i></a></li>
            <li class="none"><a href="upload_lecture.kit">New Lecture</a></li>
            <li class="none"><a href="profile.kit">Profile</a></li>
            <li class="none"><a href="courses.kit">Courses</a></li>
            <li class="active"><a href="manage_lectures.kit">Lectures</a></li>
            <li class="right"><a href="../login.kit">Logout</a></li>
            <li class="right"><input type="search" class="search negative small" /><div class="search-bar"></div></li>
        </ul>
    </div>
</div>
<script src="../js/menu.js"></script>
	<div class="container">
		<div class="col-4 col-phone-12 col-tab-6">
			<a href="manage_users.kit">
				<div class="col-12 well"><i class="fa fa-users"></i> Manage Users</div>
			</a>
		</div>
		<div class="col-4 col-phone-12 col-tab-6">
			<a href="courses.kit">
			<div class="col-12 well"><i class="fa fa-archive"></i> Manage Courses</div>
			</a>
		</div>
		<div class="col-4 col-phone-12 col-tab-12">
			<a href="manage_lectures.kit">
			<div class="col-12 well"><i class="fa fa-graduation-cap"></i> Manage Lectures</div>
			</a>
		</div>
	</div>
</body>
</html>
