<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Team One" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Contact</title>

	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
</head>
<body>

<div class="container">
	<div class="nav-bar nav-bar-fixed">
        <div id="pull" class="pull">
            <div class="bar"></div>
        </div>
        <ul class="container" id="nav-bar-ul">
            <li class="none home"><a href="../index.html"><i class="fa fa-home"></i></a></li>
            <li class="none"><a href="upload_lecture.html">New Lecture</a></li>
            <li class="none"><a href="profile.html">Profile</a></li>
            <li class="none"><a href="courses.html">Courses</a></li>
            <li class="none"><a href="manage_users.html">Manage Users</a></li>
            <li class="right"><a href="login.html">Logout</a></li>
           
            <li class="right"><a href="about.html">About</a></li>
            <li class="right"><a href="contact.html">Contact</a></li>
             <li class="right"><input type="search" class="search negative small" /><div class="search-bar"></div></li>
        </ul>
    </div>
</div>
<script src="../js/menu.js"></script>
	<div class="container">
    <div class="page-header">
      <h2>Contact us</h2>
    </div>
		<div class="col-12">
		  <div class="col-8"> <!--form -->
		     <form action="#" method="POST">
		       <div class="col-6">
		         <div class="form-element">
               <label for="name">Name *</label>
		           <input type="text" class="negative" name="name" id="name">
		         </div>
		       </div>
           <div class="col-6">
             <div class="form-element">
               <label for="email">Email *</label>
               <input type="text" class="negative" name="email" id="email">
             </div>
           </div>
           <div class="col-12">
             <div class="form-element">
               <label for="email">Message *</label>
               <textarea class="negative" name="name" id="message" rows="10" placeholder="write something"></textarea>
             </div>
             <div class="right btn success" id="submit">Send</div>
           </div>
		     </form>
		  </div>
      <div class="col-4 well"><!-- sideinfo -->
        <div class="col-12">
          <h4>Email</h4>
          <p>info@example.com</p>
        </div>
        <div class="col-12">
          <h4>Telephone</h4>
          <p>+47 12345678</p>
        </div>
        <div class="col-12">
          <h4>Skype</h4>
          <p>Skypename</p>
        </div>
        <div class="col-12">
          <h4>Address</h4>
          <p>teknologiveien 22</p>
          <p>2815, Gjøvik</p>
          <p>Norway</p>
        </div>
        <div class="col-12">
          <a href="#" class="color-light"><i class="fa fa-facebook fa-fw"></i></a>
          <a href="#" class="color-light"><i class="fa fa-twitter fa-fw"></i></a>
        </div>
      </div>
		</div>
	</div><!-- container -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="../js/formval.js"></script>

</body>
</html>
