<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Agne Ødegaard" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Ttitle</title>

	<style>

	</style>

	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
</head>
<body>

	<div class="container">
		<div class="col-12">
			<div class="page-header">
				<h2>List of all courses</h2>
			</div>
			<div class="col-8">
				<div class="form-element">
					<label>Select class
						<select name="course" id="course">
							<option value="Webutvikling">Webutvikling</option>
							<option value="Webutvikling">Programvareutvikling</option>
							<option value="Webutvikling">Spillprogrammering</option>
							<option value="Webutvikling">heisnan</option>
							<option value="Webutvikling">asdasdasda</option>
						</select>
					</label>
				</div>
			</div>
			<div class="col-3">
				<div class="form-element">
					<label>Search courses
						<input type="text" placeholder="Search courses">
					</label>
				</div>
			</div>
			<div class="col-1">
				<div class="form-element">
					<label>&nbsp;
						<button class="btn success" id="searchCourses">Search</button>
					</label>
				</div>
			</div>
		</div><!-- 12 -->
		<div class="row">
			<div class="col-6">
				<table class="even divider hover border">
					<thead>
						<tr>
							<td>Course nr</td>
							<td>Course description</td>
							<td>Lectures</td>
						</tr>
					</thead>
						<tbody>
						<tr>
							<td>IMT1092</td>
							<td>Papir, trykk og ferdi</td>
							<td><a href="manage_lectures.html">Show lectures</a></td>
						</tr>
						<tr>
							<td>IMT1112</td>
							<td>Typografi</td>
							<td><a href="manage_lectures.html">Show lectures</a></td>
						</tr>
						<tr>
							<td>IMT1161</td>
							<td>Fotografihistorie</td>
							<td><a href="manage_lectures.html">Show lectures</a></td>
						</tr>
						<tr>
							<td>IMT1221</td>
							<td>Innføring i informasjonssikkerhet</td>
							<td><a href="manage_lectures.html">Show lectures</a></td>
						</tr>
						<tr>
							<td>IMT1261</td>
							<td>Medierett</td>
							<td><a href="manage_lectures.html">Show lectures</a></td>
						</tr>
						<tr>
							<td>IMT9999</td>
							<td>Webpublisering</td>
							<td><a href="manage_lectures.html">Show lectures</a></td>
						</tr>
						</tbody>
				</table>
			</div>
			<div class="col-6">
				<div class="col-12 light-well" id="selectedCourse">
					<h3>IMT1321 IT-ledelse</h3>
					<ul class="list-stats">
					    <li><strong>Teacher:</strong> Navn etternavn</li>
					    <li><strong>Room: </strong>K102</li>
					</ul>
					<div class="col-12 description">
						<h4>Description:</h4>
						<p>Organisasjonskultur,
							Perspektiver på organisatorisk endring
							Organisasjonsendring. Drivkrefter, innhold
							og omfang, kontekst og prosess
						</p>
						<ul class="list-stats">
						    <li><strong>Studiepoeng: </strong>10</li>
						    <li><strong>Varighet: </strong>høst</li>
						    <li><strong>Språk: </strong>Norsk</li>
						    <li><strong>Subscribers: </strong><span><a href="#">34</a></span></li>
						    <li><strong>Lectures: </strong><span><a href="#">12</a></span></li>
						</ul>
					</div>
					<div class="col-12">
						<div class="align-left col-6"><button class="btn color clearfix">Edit course</button></div>
						<div class="align-right col-6"><button class="btn color disabled">Subscribe</button></div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- container -->
</body>
</html>
