<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Team One" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>IMP - Login</title>

	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
</head>
<body>

	<div class="container">
		<div class="col-4 col-offset-4">
			<div class="col-6 col-offset-3 align-center">
				<img src="../img/logo.png" alt="" />
			</div>
			<form method="post" action="">
				<div class="form-element">
					<label>Username
						<input type="text" class="negative" name="" value="" placeholder="Username"/>
					</label>
				</div>
				<div class="form-element">
					<label>Password
						<input type="password" class="negative" name="" value="" placeholder="Password" />
					</label>
				</div>
				<div class="form-element">
					<input type="submit" class="btn negative" name="" value="Login" />
					<label><a href="#">Forgot Password?</a></label>
				</div>
			</form>
		</div>
	</div>

</body>
</html>
