<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Agne Ødegaard" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>IMP - Main View</title>
	
	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" href="../css/font-awesome.min.css" />
</head>
<body>
	<div class="container">
			<div class="page-header">
				<h2>Programming for Web: Lecture 1</h2>
			</div>
			
			<div class="row">
				<div class="col-8" id="video-block">
					<div class="col-12">
						<div class="video">
							<video id="video" class="hand pause" src="../video/vid.mp4" preload="true"><div class="video-overlay"></div></video>
							<div class="video-duration">
								<div class="video-progress hand" id="video-bar">
									<div class="video-progress-inner" id="video-progress-inner"></div>
								</div>
								<div class="col-4 col-phone-4 align-left">
									<label id="video-current-time">00:00</label>
								</div>
								<div class="col-4 col-phone-4">
									<div class="video-controlls align-center">
										<button class="btn negative" id="video-play"><i class="fa fa-play fa-fw"></i></button>
										<button class="btn negative" id="video-expand"><i class="fa fa-expand fa-fw"></i></button>
									</div>
								</div>
								<div class="col-4 col-phone-4 align-right">
									<label id="video-total-time">00:00</label>
								</div>
							</div>
							
							<div class="video-tags col-12">
								<ul class="list-inline" id="video-tags">
									<li class="tag hand" data-time="10">Lecture Start</li>
									<li class="tag hand" data-time="40">Chapter 1</li>
									<li class="tag hand" data-time="80">Chapter 2</li>
									<li class="tag hand" data-time="95">Home Work</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="col-12 well">
						<h3>PDF</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, voluptatem, excepturi, doloribus tempora quisquam accusamus autem commodi fugit quaerat porro repellat ipsum dignissimos cumque veniam tenetur architecto itaque atque reiciendis.</p>
					</div>
				</div>
				<div class="col-4">
					<div class="col-12 well">
						<h3>PowerPoint</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, voluptatem, excepturi, doloribus tempora quisquam accusamus autem commodi fugit quaerat porro repellat ipsum dignissimos cumque veniam tenetur architecto itaque atque reiciendis.</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-8">
					<div class="col-12">
						<div class="col-12 well">
							<h3>Comments</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, voluptatem, excepturi, doloribus tempora quisquam accusamus autem commodi fugit quaerat porro repellat ipsum dignissimos cumque veniam tenetur architecto itaque atque reiciendis.</p>
						</div>
					</div>
					<div class="col-12">
						<div class="col-12 well">
							<h3>Wiki</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, voluptatem, excepturi, doloribus tempora quisquam accusamus autem commodi fugit quaerat porro repellat ipsum dignissimos cumque veniam tenetur architecto itaque atque reiciendis.</p>
						</div>
					</div>
				</div>
			</div>
	</div>
	<script>
		var video = document.getElementById("video");
		var playbtn = document.getElementById("video-play");
		var bar = document.getElementById("video-bar");
		var timeCurrent = document.getElementById("video-current-time");
		var timeTotal = document.getElementById("video-total-time");
		var expand = document.getElementById("video-expand");
		var block = document.getElementById("video-block");
		var tags = document.getElementById("video-tags");
		
		playbtn.addEventListener("click", function() {
			playPause();
		});
		video.addEventListener("click", function() {
			playPause();
		});
		
		function playPause() {
			if (video.paused) {
				video.play();
				playbtn.innerHTML = "<i class='fa fa-pause fa-fw'></i>";
			} else {
				video.pause();
				playbtn.innerHTML = "<i class='fa fa-play fa-fw'></i>";
			}
		}
		
		setInterval(function() {
			updateTimerBar();
		}, 50);
		
		var barDown = false;
		bar.addEventListener("mousedown", function(e) {
			barDown = true;
			setCurrentTime(e)
		});
		function setCurrentTime(e) {
			var p = e.offsetX / bar.clientWidth * 100;
			var l = video.duration / 100;
			if (barDown) {
				video.currentTime = p * l;
			}
		}
		document.addEventListener("mousemove", function(e) {
			setCurrentTime(e)
		});
		
		document.addEventListener("mouseup", function(e) {
			barDown = false;
		});
		function toTime(sec) {
			
			var hours   = Math.floor(sec / 3600);
			var minutes = Math.floor((sec - (hours * 3600)) / 60);
			var seconds = sec - (hours * 3600) - (minutes * 60);
			
			return hours + "h " + minutes + "m " + parseInt(seconds) + "s";
		}
		function updateTimerBar() {
			var l = video.duration;
			var c = video.currentTime;
			var p = c/l * 100;
			
			document.getElementById("video-progress-inner").style.width = p+"%";
			timeCurrent.textContent = toTime(c);
			timeTotal.textContent = toTime(l);
			if (p == 100) {
				playbtn.innerHTML = "<i class='fa fa-refresh fa-fw'></i>";
			}
		}
		
		expand.addEventListener("click", function(event) {
			if (block.className == "col-12") {
				block.className = "col-8";
				this.innerHTML = "<i class='fa fa-expand fa-fw'></i>"
			} else {
				block.className = "col-12";
				this.innerHTML = "<i class='fa fa-compress fa-fw'></i>"
			}
		});
		
		tags.addEventListener("click", function(e) {
			e = e.target;
			console.log(e);
			
			var p = e.getAttribute("data-time");
			var l = video.duration / 100;
			video.currentTime = p * l;
			
		});
		
	
	</script>
</body>
</html>