<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Agne Ødegaard" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>IMP - Main View</title>
	
	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
</head>
<body>
	<div class="container">
			<div class="page-header">
				<h2>Name of course</h2>
			</div>
			
			<div class="row colorize clearfix">
				<div class="col-8">
					<div class="col-12 ">
						<h3>Video</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, voluptatem, excepturi, doloribus tempora quisquam accusamus autem commodi fugit quaerat porro repellat ipsum dignissimos cumque veniam tenetur architecto itaque atque reiciendis.
						</p>
					</div>
				</div>
				<div class="col-4">
					<div class="col-12 ">
						<h3>PDF</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, voluptatem, excepturi, doloribus tempora quisquam accusamus autem commodi fugit quaerat porro repellat ipsum dignissimos cumque veniam tenetur architecto itaque atque reiciendis.
					</p></div>
				</div>
			</div>
			<div class="row colorize clearfix">
				<div class="col-8">
					<div class="col-12 ">
						<h3>Comments</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, voluptatem, excepturi, doloribus tempora quisquam accusamus autem commodi fugit quaerat porro repellat ipsum dignissimos cumque veniam tenetur architecto itaque atque reiciendis.
					</p></div>
					<div class="col-12 ">
						<h3>Wiki</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, voluptatem, excepturi, doloribus tempora quisquam accusamus autem commodi fugit quaerat porro repellat ipsum dignissimos cumque veniam tenetur architecto itaque atque reiciendis.
					</p></div>
				</div>
				<div class="col-4">
					<div class="col-12 ">
						<h3>PowerPoint</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, voluptatem, excepturi, doloribus tempora quisquam accusamus autem commodi fugit quaerat porro repellat ipsum dignissimos cumque veniam tenetur architecto itaque atque reiciendis.
					</p></div>
				</div>
			</div>
	</div>
</body>
</html>