<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Agne Ødegaard" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Ttitle</title>

	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
</head>
<body>

	<div class="container">
		<div class="page-header">
			<h2>Manage Existing Users</h2>
		</div>
		<div class="col-4">
			<div class="col-12">
				<form action="#" method="GET">
					<div class="form-element">
						<label>Search by name
							<input class="negative" type="text" name="username" placeholder="Search by name">
						</label>
					</div>
					<div class="form-element">
						<label>Browse users
							<input class="negative" type="text" name="browse" placeholder="Browse users">
						</label>
					</div>
					<div class="form-element">
						<input class="negative btn" type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
		<div class="col-3">
			<div class="col-12">
				<div class="col-12 light-well results" id="searchResults">
					<h3>Search results for</h3>
					<ul class="list-stats">
					    <li><label class="hand"><input type="radio" name="result"/> Øyvind Fjes</label></li>
					    <li><label class="hand"><input type="radio" name="result"/> Øyvind heisann</label></li>
					    <li><label class="hand"><input type="radio" name="result"/> Øyvind aksha</label></li>
					    <li><label class="hand"><input type="radio" name="result"/> Øystein uglefjas</label></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-5">
			<div class="col-12">
				<div class="col-12 light-well userInfo" id="userInfo">
					<h3>Øyvind Grimstad</h3>
					<ul class="list-stats" id="userInfo">
						<li><h4>Information</h4></li>
					    <li>ID Nr: 123456</li>
					    <li>Email: snerk@snerk.cnerk</li>
					    <li>Tlf: 12356789</li>
					    <li>Adress: heisann veien 123</li>
							<li>Active: <span>True</span></li>
					    <div class="align-right"><button class="btn color">Edit</button></div>
					</ul>
					<ul class="list-stats" id="userCourses">
						<li><h4>Ongoing courses</h4></li>
						<li>Webutvikling</li>
					    <li>Mobile media design</li>
					    <li>programmering for web 1</li>
					    <li>Norsk</li>
					    <div class="align-right"><button class="btn color">Edit</button></div>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-12" id="addUsers">
			<div class="page-header">
				<h2>Add new user(s)</h2>
			</div>
			<div class="col-12">
				<div class="col-6">
					<h3>Add by input</h3>
					<form action="#" method="GET">
						<div class="col-12">
							<div class="form-element">
								<label>Select class
									<select name="course" id="course">
										<option value="1">Student</option>
										<option value="2">Teacher</option>
										<option value="3">Administrator</option>
									</select>
								</label>
							</div>
						</div>
						<div class="col-6">
							<div class="form-element">
								<label>First name
									<input class="negative" type="text" name="fname" placeholder="First name">
								</label>
							</div>
						</div>
						<div class="col-6">
							<div class="form-element">
								<label>Last name
									<input class="negative" type="text" name="lname" placeholder="Last name">
								</label>
							</div>
						</div>
						<div class="col-6">
							<div class="form-element">
								<label>Email
									<input class="negative" type="text" name="email" placeholder="Email Address">
								</label>
							</div>
						</div>
						<div class="col-6">
							<div class="form-element">
								<label>Phone Nr
									<input class="negative" type="text" name="phone" placeholder="Telephone Number">
								</label>
							</div>
						</div>
						<div class="col-12">
							<div class="form-element">
								<label>Address
									<input class="negative" type="text" name="address" placeholder="Address">
								</label>
							</div>
						</div>
						<div class="col-2">
							<div class="form-element">
								<label>Post nr
									<input class="negative" type="text" name="postnr" placeholder="Post Number">
								</label>
							</div>
						</div>
						<div class="col-10">
							<div class="form-element">
								<label>Post Area
									<input class="negative" type="text" name="parea" placeholder="Post Area">
								</label>
							</div>
						</div>
						<div class="col-12 align-right">
							<div class="form-element">
								<input class="negative btn" type="submit" value="Submit">
							</div>
						</div>
					</form>
				</div> <!-- Col 6 -->
				<div class="col-6">
					<h3>Add by file</h3>
					<div class="col-12">
						<form action="#" method="GET">
							<input type="file">
							<div class="col-12 align-right">
								<div class="form-element">
									<input class="negative btn" type="submit" value="Submit">
								</div>
							</div>
						</form>
					</div>
				</div><!-- Col 6 -->
			</div> <!-- Col 12 -->
		</div>
	</div><!-- Container -->
	<script>
	</script>
</body>
</html>
