<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Team One" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Ttitle</title>

	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
</head>
<body>


<div class="container">
	<div class="nav-bar nav-bar-fixed">
        <div id="pull" class="pull">
            <div class="bar"></div>
        </div>
        <ul class="container" id="nav-bar-ul">
            <li class="none home"><a href="../index.html"><i class="fa fa-home"></i></a></li>
            <li class="none"><a href="upload_lecture.html">New Lecture</a></li>
            <li class="none"><a href="profile.html">Profile</a></li>
            <li class="none"><a href="courses.html">Courses</a></li>
            <li class="active"><a href="manage_lectures.html">Lectures</a></li>
            <li class="right"><a href="../login.html">Logout</a></li>
            <li class="right"><input type="search" class="search negative small" /><div class="search-bar"></div></li>
        </ul>
    </div>
</div>
<script src="../js/menu.js"></script>
	<div class="container">
		<div class="page-header">
			<h2>Lectures for IMT - 1234 Webutvikling</h2>
		</div>
		<div class="col-12">
			<div class="col-12 light-well" id="selectedLecture">
				<h3>Uploaded 20.03-2015</h3>
				<ul class="list-stats">
						<li><strong>Video presentation:</strong> Introduction_to_JQuery.mp4</li>
						<li><strong>PDF/PPT: </strong>Introduction_to_JQuery.pdf</li>
						<li><strong>HTML: </strong>index.html</li>
						<li><strong>CSS: </strong>style.css</li>
						<li><strong>JS: </strong>functions.js</li>
				</ul>
				<div class="col-12">
					<div class="align-right col-12"><button class="btn color">Edit</button></div>
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="col-12 light-well" id="selectedLecture">
				<h3>Uploaded 20.03-2015</h3>
				<ul class="list-stats">
						<li><strong>Video presentation:</strong> Introduction_to_JQuery.mp4</li>
						<li><strong>PDF/PPT: </strong>Introduction_to_JQuery.pdf</li>
						<li><strong>HTML: </strong>index.html</li>
						<li><strong>CSS: </strong>style.css</li>
						<li><strong>JS: </strong>functions.js</li>
				</ul>
				<div class="col-12">
					<div class="align-right col-12"><button class="btn color">Edit</button></div>
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="col-12 light-well" id="selectedLecture">
				<h3>Uploaded 20.03-2015</h3>
				<ul class="list-stats">
						<li><strong>Video presentation:</strong> Introduction_to_JQuery.mp4</li>
						<li><strong>PDF/PPT: </strong>Introduction_to_JQuery.pdf</li>
						<li><strong>HTML: </strong>index.html</li>
						<li><strong>CSS: </strong>style.css</li>
						<li><strong>JS: </strong>functions.js</li>
				</ul>
				<div class="col-12">
					<div class="align-right col-12"><button class="btn color">Edit</button></div>
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="col-12 light-well" id="selectedLecture">
				<h3>Uploaded 20.03-2015</h3>
				<ul class="list-stats">
						<li><strong>Video presentation:</strong> Introduction_to_JQuery.mp4</li>
						<li><strong>PDF/PPT: </strong>Introduction_to_JQuery.pdf</li>
						<li><strong>HTML: </strong>index.html</li>
						<li><strong>CSS: </strong>style.css</li>
						<li><strong>JS: </strong>functions.js</li>
				</ul>
				<div class="col-12">
					<div class="align-right col-12"><button class="btn color">Edit</button></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
