<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Agne Ødegaard" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Ttitle</title>
	
	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
</head>
<body>
	
	<div class="container">
		<div class="page-header">
			<h2>Manage Users</h2>
		</div>
		<div class="col-4">
			<div class="col-12">
				<form action="#" method="GET">
					<div class="form-element">
						<label>Search by name
							<input class="negative" type="text" name="username" placeholder="Search by name">
						</label>
					</div>
					<div class="form-element">
						<label>Browse users
							<input class="negative" type="text" name="browse" placeholder="Browse users">
						</label>
					</div>
					<div class="form-element">
						<input class="negative btn" type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
		<div class="col-3">
			<div class="col-12">
				<div class="col-12 light-well results" id="searchResults">
					<h3>Search results for</h3>
					<ul class="list-stats">
					    <li><input type="checkbox" name="result"/> Øyvind Fjes</li>
					    <li><input type="checkbox" name="result"/> Øyvind heisann</li>
					    <li><input type="checkbox" name="result"/> Øyvind aksha</li>
					    <li><input type="checkbox" name="result"/> Øystein uglefjas</li>
					</ul>	
				</div>
			</div>
		</div>
		<div class="col-5">
			<div class="col-12">
				<div class="col-12 light-well userInfo" id="userInfo">
					<h3>Øyvind Grimstad</h3>
					<ul class="list-stats" id="userInfo">
						<li><h4>Information</h4></li>
					    <li>ID Nr: 123456</li>
					    <li>Email: snerk@snerk.cnerk</li>
					    <li>Tlf: 12356789</li>
					    <li>Adress: heisann veien 123</li>
					</ul>
					<ul class="list-stats" id="userCourses">
						<li><h4>Ongoing courses</h4></li>
						<li>Webutvikling</li>
					    <li>Mobile media design</li>
					    <li>programmering for web 1</li>
					    <li>Norsk</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script>
	</script>
</body>
</html>