<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Agne Ødegaard" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Ttitle</title>
	
	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
</head>
<body>
	
	<div class="container">
		<div class="page-header">
			<h2>Manage Users</h2>
		</div>
		<div class="col-4">
			<div class="col-12">
				<form action="#" method="GET">
					<div class="form-element">
						<label>Search by name
							<input class="negative" type="text" name="username" placeholder="Search by name">
						</label>
					</div>
					<div class="form-element">
						<label>Browse users
							<input class="negative" type="text" name="browse" placeholder="Browse users">
						</label>
					</div>
					<div class="form-element">
						<input class="negative btn" type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
		<div class="col-3 well">
			<div class="col-12 results">

			</div>
		</div>
		<div class="col-5 well">
			<div class="col-12 User">

			</div>
		</div>
	</div>
</body>
</html>