<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Team One" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Ttitle</title>

	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
</head>
<body>
	<div class="container-big">
		<div class="col-4 col-phone-12 col-tab-6">
			<a href="login.html">
				<div class="col-12 well"><i class="fa fa-upload"></i> Login</div>
			</a>
		</div>
		<div class="col-4 col-phone-12 col-tab-6">
			<a href="main.html">
				<div class="col-12 well"><i class="fa fa-archive"></i> Main</div>
			</a>
		</div>
		<div class="col-4 col-phone-12 col-tab-12">
			<a href="profile.html">
				<div class="col-12 well"><i class="fa fa-graduation-cap"></i> Profile</div>
			</a>
		</div>
		<div class="col-4 col-phone-12 col-tab-12">
			<a href="admin_main.html">
				<div class="col-12 well"><i class="fa fa-graduation-cap"></i> Admin Mainpage</div>
			</a>
		</div>
		<div class="col-4 col-phone-12 col-tab-12">
			<a href="manage_users.html">
				<div class="col-12 well"><i class="fa fa-graduation-cap"></i> Manage Users</div>
			</a>
		</div>
		<div class="col-4 col-phone-12 col-tab-12">
			<a href="teacher_main.html">
				<div class="col-12 well"><i class="fa fa-graduation-cap"></i> Teacher Mainpage</div>
			</a>
		</div>
		<div class="col-4 col-phone-12 col-tab-12">
			<a href="courses.html">
				<div class="col-12 well"><i class="fa fa-graduation-cap"></i> Courses</div>
			</a>
		</div>
	</div>
</body>
</html>
