<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Team One" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Ttitle</title>

	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
</head>
						
<div class="container">
	<div class="nav-bar nav-bar-fixed">
        <div id="pull" class="pull">
            <div class="bar"></div>
        </div>
        <ul class="container" id="nav-bar-ul">
            <li class="none home"><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li class="none"><a href="upload_lecture.html">New Lecture</a></li>
            <li class="active"><a href="profile.html">Profile</a></li>
            <li class="none"><a href="courses.html">Courses</a></li>
            <li class="none"><a href="manage_users.html">Lectures</a></li>
            <li class="right"><a href="view/login.html">Logout</a></li>
            <li class="right"><input type="search" class="search negative small" /><div class="search-bar"></div></li>
        </ul>
    </div>
</div>
<script src="../js/menu.js"></script>
	<div class="container">
			<div class="page-header">
				<h2>(Your Name) profile</h2>
			</div>
			<div class="col-8">
				<div class="row">
					<div class="col-6">
						<div class="col-12 light-well">
							<div class="left"><h3>Signed up for</h3></div>
							<div class="right"><button class="btn color">Edit</button></div>
						</div>
						<div class="col-12">
							<ul class="list-stats">
							    <li>Webutvikling</li>
							    <li>Mobile media design</li>
							    <li>programmering for web 1</li>
							    <li>Norsk</li>
							</ul>
						</div>
					</div>

					<div class="col-6">
						<div class="col-12 light-well">
							<div class="left"><h3>Latest lectures</h3></div>
							<div class="right"><button class="btn color">Edit</button></div>
						</div>
						<div class="col-12">
							<ul class="list-stats">
							    <li>Webutvikling</li>
							    <li>Mobile media design</li>
							    <li>programmering for web 1</li>
							    <li>Norsk</li>
							</ul>
						</div>
					</div>

				</div><!-- End Row-->
				<div class="row">

					<div class="col-6">
						<div class="col-12 light-well">
							<div class="left"><h3>Information</h3></div>
							<div class="right"><button class="btn color">Edit</button></div>
						</div>
						<div class="col-12">
							<ul class="list-stats">
							    <li>ID Nr: 123456</li>
							    <li>Email: snerk@snerk.cnerk</li>
							    <li>Tlf: 12356789</li>
							    <li>Adress: heisann veien 123</li>
							</ul>
						</div>
					</div>

					<div class="col-6">
						<div class="col-12 light-well">
							<div class="left"><h3>MailBox</h3></div>
							<div class="right"><button class="btn color">Edit</button></div>
						</div>
						<div class="col-12">
							<ul class="list-stats">
							  <li>Øyvind Grimstad - Blabla</li>
							  <li>Øyvind Grimstad - Blabla</li>
							  <li>Øyvind Grimstad - Blabla</li>
							  <li>Øyvind Grimstad - Blabla</li>
							  <li>Øyvind Grimstad - Blabla</li>
							  <li>Øyvind Grimstad - Blabla</li>
							</ul>
						</div>
					</div>

				</div>
			</div><!-- End Row-->

			<div class="col-4">
				<div class="col-12 align-center">
					<div class="col-12">
						<h3>Fritjoff Ballsten</h3>
					</div>
					<div class="col-12">
						<img class="profile-image" src="../img/face.png" alt="Profile Picture">
					</div>

				</div>
			</div>

		</div>


	</div>
</body>
</html>
