<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Team One" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Ttitle</title>

	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
</head>

<div class="container">
	<div class="nav-bar nav-bar-fixed">
        <div id="pull" class="pull">
            <div class="bar"></div>
        </div>
        <ul class="container" id="nav-bar-ul">
            <li class="none home"><a href="../index.html"><i class="fa fa-home"></i></a></li>
            <li class="none"><a href="upload_lecture.html">New Lecture</a></li>
            <li class="active"><a href="profile.html">Profile</a></li>
            <li class="none"><a href="courses.html">Courses</a></li>
            <li class="none"><a href="manage_users.html">Manage Users</a></li>
            <li class="right"><a href="view/login.html">Logout</a></li>
            <li class="right"><input type="search" class="search negative small" /><div class="search-bar"></div></li>
        </ul>
    </div>
</div>
<script src="../js/menu.js"></script>
<div class="container">
			<div class="page-header">
				<h2>(Your Name) profile</h2>
			</div>
			<div class="col-8">
				<div class="row">
					<div class="col-6">
						<div class="col-12 light-well">
							<div class="left"><h3>Enrolled courses</h3></div>
							<div class="right"><!--<button class="btn color">Edit</button>--></div>
						</div>
						<div class="col-12">
							<ul class="list-stats">
								<li class="editable">Webutvikling</li>
								<li class="editable">Mobile media design</li>
								<li class="editable">programmering for web 1</li>
								<li class="editable">Norsk</li>
							</ul>
						</div>
					</div>

					<div class="col-6">
						<div class="col-12 light-well">
							<div class="left"><h3>Latest lectures</h3></div>
							<div class="right"><!--<button class="btn color">Edit</button>--></div>
						</div>
						<div class="col-12">
							<ul class="list-stats">
							    <li class="editable">Programmering for web 1 - Introduction to Jquery</li>
							    <li class="editable">Mobile media design - Chapter 01</li>
							    <li class="editable">programmering for web 1 - JqueryUI</li>
							    <li class="editable">Norsk - Henrik Ibsen</li>
							</ul>
						</div>
					</div>

				</div><!-- End Row-->
				<div class="row">

					<div class="col-6">
						<div class="col-12 light-well">
							<div class="left"><h3>Information</h3></div>
							<div class="right"><!--<button class="btn color">Edit</button>--></div>
						</div>
						<div class="col-12">
							<ul class="list-stats">
							    <li>ID Nr: <span class="edit" style="display: inline">123456</span></li>
							    <li>Email: <span class="edit" style="display: inline">email@example.com</span></li>
							    <li>Tlf: <span class="edit" style="display: inline">47484950</span></li>
							    <li>Adress: <span class="edit" style="display: inline">Teknologivegen 22</span></li>
							</ul>
						</div>
					</div>

					<div class="col-6">
						<div class="col-12 light-well">
							<div class="left"><h3>MailBox</h3></div>
							<div class="right"><!--<button class="btn color">Edit</button>--></div>
						</div>
						<div class="col-12">
							<ul class="list-stats">
							  <li><a href="">Anders Bakke - Blabla</a></li>
							  <li><a href="">Agne Ødegaard - Blabla</a></li>
							  <li><a href="">Mia Tollaksvik - Blabla</a></li>
							  <li><a href="">Øyvind Grimstad - Blabla</a></li>
							  <li><a href="">Ali Shariq Imran - Blabla</a></li>
							  <li><a href="">Per kåre - Blabla</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div><!-- End Row-->


			<div class="col-4">
				<div class="col-12 align-center">
					<div class="col-12">
						<h3>Username</h3>
					</div>
					<div class="col-12">
						<img class="profile-image" src="../img/face.png" alt="Profile Picture" style="border-radius:4px;">
					</div>
					<div class="col-12 align-center">
						<div class="btn color">Edit picture</div>
					</div>
					<div class="col-12 align-center">
						<a href="login.html"><div class="btn danger">Delete account</div></a>
					</div>

				</div>
			</div>

		</div>


	</div>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="http://www.appelsiini.net/download/jquery.jeditable.js"></script>
		<script>
		$(function() {
		     $('.edit').editable('http://www.example.com/save.php', {
		         indicator : 'Saving...',
						 cssclass : 'inherit', /* Does nothing it appears */
						 style    : 'inherit',
		         tooltip   : 'Click to edit...'
		     });
		     $('.edit_area').editable('http://www.example.com/save.php', {
		         type      : 'textarea',
		         cancel    : 'Cancel',
						 cssclass : 'inherit', /* Does nothing it appears */
		         submit    : 'OK',
		         indicator : '<img src="../img/indicator.gif">',
		         tooltip   : 'Click to edit...'
		     });
				$('.editable').editable('http://www.example.com/save.php', {
		     data   : " {'': '', 'A':'Unsubscribe','B':'Remove'}",
		     type   : 'select',
				 cssclass : 'inherit', /* Does nothing it appears */
		     submit : 'OK',
				 style  : 'inherit',
				 tooltip   : 'Click to edit...'
		 });
		 });//onready
		</script>

</body>
</html>
