<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Agne Ødegaard" />
	<meta name="description" content="" />
	<meta name="application-name" content="Description Here" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Ttitle</title>
	
	<!--Main css-->
	<link rel="stylesheet" href="../css/main.css" />
</head>
<body>
	
	<div class="container">
			<div class="page-header">
				<h2>(Your Name) profile</h2>
			</div>
			<div class="col-8">

				<div class="col-6">

					<div class="col-12  margin">
					<h3 class="well">Signed up for</h3>
					<ul class="list-stats">
					    <li>Webutvikling</li>
					    <li>Mobile media design</li>
					    <li>programmering for web 1</li>
					    <li>Norsk</li>
					</ul>
					<div class="align-right"><button class="btn negative">Edit</button></div>
					</div>

					<div class="col-12  margin">
					<h3 class="well">Latest lectures</h3>
						<ul class="list-stats">
							<li>Webutvikling</li>
						    <li>Mobile media design</li>
						    <li>programmering for web 1</li>
						    <li>Norsk</li>
						</ul>
						<div class="align-right"><button class="btn negative">Edit</button></div>
					</div>
						
				</div><!--col6 -->
				<div class="col-6">
					<div class="col-12  margin">
					<h3 class="well">Information</h3>
						<ul class="list-stats">
						    <li>ID Nr: 123456</li>
						    <li>Email: snerk@snerk.cnerk</li>
						    <li>Tlf: 12356789</li>
						    <li>Adress: heisann veien 123</li>
						</ul>
						<div class="align-right"><button class="btn negative">Edit</button></div>
					</div>

					<div class="col-12  margin">
					<h3 class="well">MailBox</h3>
						<ul class="list-stats">
						    <li>Øyvind Grimstad - Blabla</li>
							<li>Øyvind Grimstad - Blabla</li>
							<li>Øyvind Grimstad - Blabla</li>
							<li>Øyvind Grimstad - Blabla</li>
							<li>Øyvind Grimstad - Blabla</li>
							<li>Øyvind Grimstad - Blabla</li>
						</ul>
						<div class="align-right"><button class="btn negative">Edit</button></div>
					</div>
						
				</div><!--col6 -->
			</div><!-- col8 -->
			<div class="col-4">
				<div class="col-12">
					<div class="col-12 margin">
						<img class="profile-image" src="../img/face.png" alt="Profile Picture">
					</div>
					<div class="col-12" style="color:#FF8800;">
						<h3>Your name</h3>
					</div>
				</div>
			</div>
	</div>
</body>
</html>