<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Agne Ødegaard" />
  <meta name="description" content="" />
  <meta name="application-name" content="Description Here" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Ttitle</title>

  <style>

  </style>

  <!--Main css-->
  <link rel="stylesheet" href="../css/main.css" />
</head>
<body>

<div class="container">
  <div class="col-12">
    <div class="page-header">
      <h2>List of all courses</h2>
    </div>
    <div class="col-8">
      <div class="form-element">
        <label>Select class
          <select name="course" id="course">
            <option value="Webutvikling">Webutvikling</option>
            <option value="Webutvikling">Programvareutvikling</option>
            <option value="Webutvikling">Spillprogrammering</option>
            <option value="Webutvikling">heisnan</option>
            <option value="Webutvikling">asdasdasda</option>
          </select>
        </label>
      </div>
    </div>
    <div class="col-3">
      <div class="form-element">
        <label>Search courses
          <input type="text" placeholder="Search courses">
        </label>
      </div>
    </div>
    <div class="col-1">
      <div class="form-element">
        <label>&nbsp;
          <button class="btn success" id="searchCourses">Search</button>
        </label>
      </div>
    </div>
  </div><!-- 12 -->
</div><!-- container -->
<body>
<html>
