<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Team One" />
  <meta name="description" content="" />
  <meta name="application-name" content="Description Here" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Ttitle</title>
  <style>
  .mydiv {
    display:none;
  }
  </style>

  <!--Main css-->
  <link rel="stylesheet" href="../css/main.css" />
</head>

  <div class="container">
    <div class="col-6 col-offset-3">
      <div class="page-header">
        <h2>Upload Lecture</h2>
      </div>

        <form method="post" action="">
          <div class="form-element">
            <label>Select class
              <select name="course" id="course" class="negative">
                <option value="Webutvikling">Webutvikling</option>
                <option value="Webutvikling">Programvareutvikling</option>
                <option value="Webutvikling">Spillprogrammering</option>
                <option value="Webutvikling">heisnan</option>
                <option value="Webutvikling">asdasdasda</option>
              </select>
            </label>
          </div>
          <div class="form-element">
          <label>Select course
            <select name="course" id="course" class="negative">
              <option value="Webutvikling">Webkoding</option>
              <option value="Webutvikling">Programmering for web 1</option>
              <option value="Webutvikling">Medierett</option>
              <option value="Webutvikling">Webprosjekt 1</option>
              <option value="Webutvikling">Mobile media design</option>
            </select>
          </label>
        </div>



    <!-- Title and description -->



      <div class="form-element">
        <h3>Lecture Title</h3>
        <input type="text" id="titleId" class="negative">
      </div>
      <div class="form-element">
        <h3>Lecture Desciption</h3>
        <textarea id="titleDesc" class="" rows="10" cols="40"></textarea>
      </div>
      <div class="page-header"><h3></h3></div>




    <!-- End Title and description-->

    <!-- Video -->
    <div class="col-12">
      <a class="display" role="button">Upload Video</a>

      <div class="form-element mydiv">
        <label for="videopresentation">Upload video presentation</label>
        <button id="videopresentation" class="btn color">Upload Video</button>
        <div class="content">

        </div>
      </div>
    </div>

  <!-- End video -->

    <!-- PDF -->
    <div class="col-12">
      <a class="display" role="button">Upload PDF</a>

      <div class="form-element mydiv">
        <label for="videopresentation">Upload video presentation</label>
        <button id="videopresentation" class="btn color">Upload Video</button>
        <div class="content">

        </div>
      </div>
    </div>
  <!-- End PDF -->
    <!-- PPT -->
    <div class="col-12">
      <a class="display" role="button">Upload PowerPoint</a>

      <div class="form-element mydiv">
        <label for="videopresentation">Upload video presentation</label>
        <button id="videopresentation" class="btn color">Upload Video</button>
        <div class="content">

        </div>
      </div>
    </div>

<!-- End PPT -->






<!--

        <div class="row">
          <div class="col-12">
            <div class="form-element">
              <label for="videopresentation">Upload video presentation</label>
              <button id="videopresentation" class="btn color">Upload Video</button>
              <div class="content" style="display: none;">
  asdasd
              </div>
            </div>

            <div class="form-element">
              <label for="pdf">Upload video presentation</label>
              <button id="pdf" class="btn color">Upload Video</button>

            </div>
            <div class="content" style="display: none;">
asdasd
            </div>
            <div class="form-element">
              <label for="powerpoint">Upload video presentation</label>
              <button id="powerpoint" class="btn color">Upload Video</button>

            </div>
            <div class="content" style="display: none;">
asdasd
            </div>
          </div>
        </div>
-->
        <!-- OLD BUTTONS -->
<!--
          <div class="form-element">
            <label for="videopresentation">Upload video presentation</label><br>
              <input type="file" class="negative" name="videopresentation" value=""/>
          </div>
          <div class="form-element">
            <label for="foil">Upload PDF/PPT</label><br>
              <input type="file" class="negative" name="foil" value=""/>
          </div>
          <div class="form-element">
            <label for="js">Upload HTML</label><br>
              <input type="file" class="negative" name="html" value=""/>
          </div>
          <div class="form-element">
            <label for="js">Upload CSS</label><br>
              <input type="file" class="negative" name="css" value=""/>
          </div>
          <div class="form-element">
            <label for="js">Upload JS</label><br>
              <input type="file" class="negative" name="js" value=""/>
          </div>
-->
<!-- OLD BUTTONS -->



          <!-- Submit -->
          <div class="form-element">
            <div class="align-left"><input type="submit" class="btn negative" name="" value="Submit" /></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script>

  $(function() {
    $(".display").click(function() {
      $(this).next(".mydiv").slideToggle();
    });
  });


  </script>
</body>
</html>
