<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Team One" />
  <meta name="description" content="" />
  <meta name="application-name" content="Description Here" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Ttitle</title>

  <!--Main css-->
  <link rel="stylesheet" href="../css/main.css" />
</head>

  <div class="container">
      <div class="page-header">
        <h2>Upload Lecture</h2>
      </div>
      <div class="col-12">
        <form method="post" action="">
          <div class="form-element">
            <label>Select class
              <select name="course" id="course">
                <option value="Webutvikling">Webutvikling</option>
                <option value="Webutvikling">Programvareutvikling</option>
                <option value="Webutvikling">Spillprogrammering</option>
                <option value="Webutvikling">heisnan</option>
                <option value="Webutvikling">asdasdasda</option>
              </select>
            </label>
          </div>
          <div class="form-element">
          <label>Select course
            <select name="course" id="course">
              <option value="Webutvikling">Webkoding</option>
              <option value="Webutvikling">Programmering for web 1</option>
              <option value="Webutvikling">Medierett</option>
              <option value="Webutvikling">Webprosjekt 1</option>
              <option value="Webutvikling">Mobile media design</option>
            </select>
          </label>
        </div>
          <div class="form-element">
            <label for="videopresentation">Upload video presentation</label><br>
              <input type="file" class="negative" name="videopresentation" value=""/>
          </div>
          <div class="form-element">
            <label for="foil">Upload PDF/PPT</label><br>
              <input type="file" class="negative" name="foil" value=""/>
          </div>
          <div class="form-element">
            <label for="js">Upload HTML</label><br>
              <input type="file" class="negative" name="html" value=""/>
          </div>
          <div class="form-element">
            <label for="js">Upload CSS</label><br>
              <input type="file" class="negative" name="css" value=""/>
          </div>
          <div class="form-element">
            <label for="js">Upload JS</label><br>
              <input type="file" class="negative" name="js" value=""/>
          </div>

          <div class="form-element">
            <div class="align-right"><input type="submit" class="btn negative" name="" value="Submit" /></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
